<div class='container'>
<h2>Waiter Shifts</h2>
    <div class="twelve columns">
        <a href="/"><button class='homeBtn'>Home</button></a>
    </div>
    <form action='/admin' method="GET">
        <div class='row'>
        </div>
    </form>
    <div class="row">
        <div class='twelve columns'>
            <form action="/reset">
                <a href="/reset"><button class='clear'>reset</button></a>
        </div>
    </div>
    </form>
    <table>
        <tr>
            {{#each waiterShifts}}
            <th>
                {{day}}
            </th>
            {{/each}}
        </tr>
        <tr>
            {{#each waiterShifts}}
            <td>
                <ul>
                    {{#each waiters}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </td>
            {{/each}}
        </tr>
    </table>
</div>