<h2>Waiter Shifts</h2>
<div class='container'>
    <div class="twelve columns">
        <a href="/"><button class='homeBtn'>Home</button></a>
    </div>
    <form action='/admin' method="GET">
        <div class='row'>
        </div>
    </form>
    <div class="row">
        <div class='twelve columns'>
            <form action="/reset">
            <a href="/reset"><button class='clear'>reset</button></a>
        </div>
    </div>
    </form>
<table>
    <tr>
        <th>
        {{#each getWaiterShift}}
            {{day}}
        {{/each}}
        </th>
    </tr>
    <tr>
        <td>
            <ul>
                {{#each waiterShifts}}
                {{this.waiter}}
                {{/each}}
            </ul>
        </td>
    </tr>
</table>
</div>
