<h2>Waiter Shifts</h2>
<div>
    <div class="twelve columns">
        <a href="/"><button class='homeBtn'>Home</button></a>
    </div>
    <form action='/admin' method="GET">
        <div class='row'>
        </div>
    </form>
    <div class="row">
        <div class='twelve columns'>
            <form action="/reset">
                <button class='clear'>reset</button>
        </div>
    </div>
    </form>
    <table>
        <tr>
            {{#each daysofweek}}
            <th>
                {{day}}
            </th>
            {{/each}}
        </tr>
        <tr>
            {{#each waiters}}
            <td>
                <ul>
                    {{#each waiter}}
                    {{this}}
                    {{/each}}
                </ul>
            </td>
            {{/each}}
        </tr>
    </table>
</div>