<h2>Waiter Shifts</h2>
<div class='container'>
    <div class="twelve columns">
        <a href="/"><button class='homeBtn'>Home</button></a>
    </div>
    <form action='/admin' method="GET">
        <div class='row'>
        </div>
    </form>
    <div class="row">
        <div class='twelve columns'>
            <form action="/reset">
                <button class='clear'>reset</button>
        </div>
    </div>
    </form>
    <table>
        <tr>
            {{#each waiter_shifts}}
            <th>
                {{this.day}}
            </th>
            {{/each}}
        </tr>
        <tr>
            {{#each username}}
            <td>
                <ul>
                    {{#each username}}
                    {{this}}
                    {{/each}}
                </ul>
            </td>
            {{/each}}
        </tr>
    </table>
</div>